.navbar {
  display: flex;
  justify-content: space-around;
  background: #111;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.navbar a:hover {
  color: #00e676;
}

* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #0f0f0f;
  color: white;
}

.container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

h1, h2 {
  text-align: center;
}

.card {
  background: #1c1c1c;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 20px;
}

input, textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  width: 100%;
  padding: 12px;
  background: #00c853;
  border: none;
  color: black;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

.record {
  background: #1a1a1a;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 14px;
}
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #111;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  border-top: 1px solid #222;
}

.bottom-nav a {
  color: #aaa;
  text-decoration: none;
  font-size: 13px;
  text-align: center;
}

.bottom-nav a.active {
  color: #00e676;
  font-weight: bold;
}

body {
  padding-bottom: 70px; /* Alt bar boşluğu */
}
